body {
	margin: 0;
	display: flex;
	justify-content: center;
	height: 100vh;
	background-color: #D8DEE9;
	padding: 0;
}

.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: clamp(2rem, 2.5vw, 3.5rem);
	color: #2e3440;
	font-weight: 800;
	background-color: #88c0d0;
	width: 100vw;
	text-align: center;
	padding: 10px;
	border-bottom: 7px solid #5e81ac;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	width: 32rem;
}

.answer-container {
	display: flex;
	width: 100%;
	gap: 10px;
}



#flag {
	position: relative;
	height: 20rem;
}

#flag img {
	height: 100%;
	width: 32rem;
	object-fit: cover;
	z-index: 1;
	display: block;
}

.flag-cover {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.flag-cover {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.grid1 {
	grid-column: 1/2;
	grid-row: 1/2;
}

.grid2 {
	grid-column: 2/3;
	grid-row: 1/2;
}

.grid3 {
	grid-column: 3/4;
	grid-row: 1/2;
}

.grid4 {
	grid-column: 1/2;
	grid-row: 2/3;
}

.grid5 {
	grid-column: 2/3;
	grid-row: 2/3;
}

.grid6 {
	grid-column: 3/4;
	grid-row: 2/3;
}

.flag-cover>div {
	background-color: black;
}

.input-block {
	position: relative;
	flex: 1;
}

.answer {
	width: 100%;
}


.search {
	width: 300px;
	display: block;
}

.suggestions {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 150px;
	overflow-y: auto;
	background-color: rgb(206, 206, 206);
	border: 1px solid #aaa;
	z-index: 1000;
}

.suggestions div {
	padding: 5px;
	cursor: pointer;
}

.suggestions div:hover {
	background-color: rgb(153, 153, 153);
}

.guess-1 {
	display: flex;
	gap: 10px;

}
